altgraph==0.17.5
cffi==2.0.0
charset-normalizer==3.4.7
cryptography==46.0.7
darkdetect==0.8.0
defusedxml==0.7.1
et_xmlfile==2.0.0
fonttools==4.62.1
fpdf2==2.8.7
openpyxl==3.1.5
packaging==26.0
pdfminer.six==20251230
pdfplumber==0.11.9
pefile==2024.8.26
pillow==12.2.0
pycparser==3.0
pyinstaller==6.19.0
pyinstaller-hooks-contrib==2026.4
pypdfium2==5.7.0
pywin32-ctypes==0.2.3
PyYAML==6.0.3
RapidFuzz==3.14.5
setuptools==82.0.1
instructor
pydantic
openai
requests
PySide6
pyqtdarktheme
